<!DOCTYPE HTML>
<html>
    <head>
        <title>
           {{ result[0].keyword }} search result!!
        </title>
    </head>
    <body>
        <h1>{{ result[0].keyword }} search result!!</h1>

        {% block content %}
        <div>
            <div>
            {% for ret in result %}
            <article>
                <h2>{{ ret.title }}</h2>
                <p><a href='{{ ret.href}}'>{{ ret.href}}</a></p>
                <div>
                <p>{{ ret.viewCount }}</p>
                <p>{{ ret.upDate }}</p>
                </div>
            </article>
            {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>

